body{
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-around;
    gap: 20px;
}
.mycol{
    display: inline-block;
    position: relative;
    border: 2px solid black;
    border-radius: 0.8rem;
    padding: 2px 3px 2px;
    margin: 3px;
    height: 100%;
}
.ctitle{
    text-align: center;
}
img{
    height: auto;
    width: auto;
}
